*,
*::before,
*::after {
  box-sizing: content-box;
  margin: 20px;
}

#statistik {
  width: 200px;
  height: 200px;
}
 {
  color: chocolate;
}

body { 
  
 
 
  background-image: linear-gradient(90deg, rgb(187, 200, 226) 50%, rgb(255, 255, 255) 100%);
  margin: 0%;)
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}


  #top10 {
    width: 900px;
  }
  #clothing brands {
    width: 200px;
    height: auto;
  }
  #text1 {
    border-style: solid;
    border-width: 2px;
    padding: 30px;
  }
  #title {
    color: darkgoldenrod;
    font-family: inherit;
  }
  #text2 {
    border-style: solid;
    border-width: 2px;
    padding: 30px;
  }
  #link1 {
    border-style: solid;
    border-width: 2px;
    padding: 10px;
  }
  #link2 {
    border-style: solid;
    border-width: 2px;
    padding: 10px;
  }
  #child {
    color: indianred;
  }
  #statistik {
    height: 300px;
  }
